Flask
flask-cors
pymongo
python-dotenv
openai
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
PyPDF2
pytesseract
SpeechRecognition
pydub
Pillow
python-docx
pandas
numpy

werkzeug
requests
beautifulsoup4
lxml
html5lib
json5
pypdf
pyyaml
gTTS
pyttsx3
pywhatkit
pyjokes
wikipedia
